<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AppCenter" version="1.4.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="1.4.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="1.4.0" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="1.59.3" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="1.59.3" targetFramework="xamarinios10" />
  <package id="Wapps.TOCrop" version="0.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.21.4" targetFramework="xamarinios10" />
</packages>